html {
    width: 100%;
}

body {
	margin: 0px;
	font-family: "Poppins", sans-serif;
    background-color: rgb(197, 226, 223);
    width: 100%
}

input {
    background-color: transparent;

    &:hover {
        background-color: rgba(197, 226, 223, 0.61);
    }
}